
html {
  background-image: url(images/mars.gif);
  background-size: 100%;
  min-height: 100%;
  min-width: 100%;
}

.examplething {
    padding: 1em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 1.5em;
}

.extratop {
  margin-top: 10em;
}

.white {
  color: #f0f0f0;
}
